
html {
  background-color: #DDDDDD;
}


.navbar {
  font: 0.875em "Playfair Display", serif;
  background-color: #fe9f97;
  font-weight: 900;
  color: black;
  text-decoration: none;
  font-size: 2em;
}

.navbar a {
  color: black;
}

a {
  color: #00B7FF;
}

.container {
  margin-top: 10%;
  background-color: #DDDDDD;
}

/*
.spacer {
  width: 2%;
  display: inline-block;
  float: left;
  height: 100%;
}

.authors-img {
  position: fixed;
  top: 30%;
  left: 18%;
  display: inline-block;
  text-align: center;
  width: 22%;
  padding: 10% 0 10% 0;
  background: #0095a3;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 160px;
  margin-left: 10%;
}

.books-img {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 0;
	height: 0;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 300px solid #0095a3;
}

.authors-span, .books-span {
    font-family: "Helvetica", sans-serif;
    font-size: 30px;
}

.authors-span a {
  text-decoration: none;
  color: #fbae17;
}

.books-span a {
  text-decoration: none;
  color: #fe9f97;
}

.books-span {
  font-size: 30px;
  position: absolute;
  top: 150px;
  right: 0.5;
  left: 0.5;
  margin-left: -37px;
}

#logo {
  margin-left: 5%;
}

#footer-text {
  margin-left: 9.75%;
}

.footer {
  background-color: #fbae17;
  position: absolute;
  padding-left: 140px;
  padding-top: 10px;
  left: 0;
  bottom: 0;
  height: 15%;
  width: 100%;
  font-weight: 900;
  font-size: 2.5em;
}

.search {
  width: 240px;
  height: 30px;
  font-size: 30px;
}

.searchBtn {
  width: 120px;
  height: 35px;
  border: none;
  margin-bottom: 4px;
  font-size: 20px;
  vertical-align: middle;
}
*/
